@import url(bootstrap.min.css);
@import url(fontawesome-all.min.css);
@import url(animate.css);
@import url(fontnunito.css);
@import url(fontsarabun.css);

body, html {
    font-size: 16px !important;
    font-family: "Nunito",  "Sarabun"!important;
}
a {
    color: #000;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
}
.clearfloat:after {
    display: table;
    content: '';
    clear: both;
}


.main-nav {
    padding-top: 1rem!important;
}
.main-logo {
    height: 3rem;
    display: inline-block;
}
.main-logo img {
    height: 100%;
    width: auto;
}
.main-menu .nav-link {
    color: #FFF;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.login-member {
    color: #FFF;
}
.login-member figure.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 1rem 0 0;
    overflow: hidden;
}
.login-member figure.avatar img {
    width: 100%;
    height: 100%}
.login-member p {
    margin-bottom: 0;
    line-height: 1;
}
.login-member .name {
    color: #FFF;
}
.page-header {
    background-size: cover;
    padding: 5rem 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.page-header:before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,  255,  255,  0.75);
    z-index: -1;
    background-color: #f5f5f5;
    background-blend-mode: multiply;
    content: '';
    -webkit-filter: blur(50px);
    filter: blur(50px);
}
.page-header .title {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
}
.page-header .summary-title .count {
    line-height: 1!important;
    font-weight: 700;
}
.page-header .summary-title p {
    margin-bottom: 0;
}
.page-header .member-title {
    margin-bottom: 0;
    font-weight: 900;
}
.page-header .avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}
.page-header .avatar img {
    width: 100%;
    height: 100%}
.page-header .percentage {
    font-size: 4rem;
    line-height: 1;
}
.main-login {
    background-color: #00cec9;
    height: 100vh;
}
.main-login .login-form {
    min-width: 300px;
}
.main-login .login-form .main-logo {
    display: block;
    text-align: center;
    height: 3rem;
    margin: 0 auto 1rem;
}
.main-login .login-form .main-logo img {
    height: 100%;
    width: auto;
}
.main-login .login-form input[type=password], .main-login .login-form input[type=text] {
    background-color: transparent!important;
    border: solid 1px #8B3939;
    color: #FFF;
    letter-spacing: .25rem;
}
.main-login .login-form input[type=password]::-webkit-input-placeholder, .main-login .login-form input[type=text]::-webkit-input-placeholder {
    color: #8B3939;
}
.main-login .login-form input[type=password]:-ms-input-placeholder, .main-login .login-form input[type=text]:-ms-input-placeholder {
    color: #8B3939;
}
.main-login .login-form input[type=password]::-ms-input-placeholder, .main-login .login-form input[type=text]::-ms-input-placeholder {
    color: #8B3939;
}
.main-login .login-form input[type=password]::placeholder, .main-login .login-form input[type=text]::placeholder {
    color: #8B3939;
}
.main-login .login-form input[type=password]:focus, .main-login .login-form input[type=text]:focus {
    border-color: #FFF;
    color: #FFF;
    outline: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.main-login .login-form .btn-login {
    width: 100%;
    background: #8B3939;
    color: #FFF;
}
.summary-card .card {
    position: relative;
    -webkit-box-shadow: 5px 0px 20px rgba(0,  0,  0,  0.1);
    box-shadow: 5px 0px 20px rgba(0,  0,  0,  0.1);
    border-color: transparent;
}
.summary-card .card .card-header {
    background: #FFF;
}
.summary-card .card+.card {
    margin-left: 1rem;
}
.summary-card .card .title {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0;
}
.summary-card .card p {
    margin-bottom: 0;
}
.summary-card .card .count {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    line-height: 1;
}
.summary-card .card .type {
    color: #00cec9;
    text-align: center;
    font-size: .75rem;
}
.summary-card .card .desc {
    font-size: .75rem;
}
.summary-card .card .thismonth {
    font-weight: 700;
}
.summary-card .card .btn-add {
    display: block;
    width: 32px;
    height: 32px;
    background: #00cec9;
    color: #FFF;
    border-radius: 50%;
    line-height: 32px;
    position: absolute;
    right: 10%;
    bottom: 0;
    text-align: center;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
.search-bar .input-group-text {
    background: none;
    border-right: 0!important;
}
.search-bar .form-control {
    border-left: 0!important;
}
.section-wrapper {
    padding: 3rem 1rem;
}
.section-head .title {
    font-weight: 700;
}
.project-list {
    margin-top: 2rem;
}
.project-list .project-table tr:hover {
    background: #f5f5f5;
}
.project-list .project-table th {
    color: #00cec9;
    padding: 1rem;
}
.project-list .project-table th:not(.title) {
    text-align: center;
}
.project-list .project-table td {
    font-size: .9rem;
    padding: 1rem;
}
.project-list .project-table td.icon {
    color: #00cec9;
}
.project-list .project-table td.title {
    font-weight: 700;
}
.project-list .project-table td:not(.title) {
    font-size: .75rem;
    text-align: center;
}
.add-box {
    border-radius: 10px;
    padding: 3rem;
    -webkit-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    background: #FFF;
    border: solid 1px #EEE;
}
.add-box>.title {
    font-weight: 700;
    margin-bottom: 2rem;
}
.add-box .card+.card {
    margin-top: 2rem;
}
.add-box+.add-box {
    margin-top: 2rem;
}
.work-progress>.title {
    font-weight: 700;
}
.work-list {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}
.work-list>li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem 0;
    border: solid 1px #EEE;
    padding: 1rem;
    border-radius: .5rem;
}
.work-list>li p {
    margin-bottom: 0;
}
.work-list>li+li {
    margin-top: 1rem;
}
.work-list>li label.title span {
    display: inline-block;
    margin-left: .5rem;
    -webkit-transition: all 600ms cubic-bezier(0.175,  0.885,  0.32,  1.275);
    -o-transition: all 600ms cubic-bezier(0.175,  0.885,  0.32,  1.275);
    transition: all 600ms cubic-bezier(0.175,  0.885,  0.32,  1.275);
}
.work-list>li label.title input[type=checkbox]:checked+span {
    color: #6ab04c;
}
.work-list>li .detail-toggler {
    color: #DDD;
}
.work-list>li.has-detail .detail-toggler {
    color: #6ab04c;
}
#listDetail .list-description {
    padding: 3rem;
    background: #f5f5f5;
    border-radius: .5rem;
}
#listDetail .list-description+.list-description {
    margin-top: 1rem;
}
.gds-notice {
    padding: 5rem 0;
    border-bottom: solid 1px #EEE;
}
.main-footer {
    background: #00cec9;
    color: #FFF;
}
.main-footer p {
    margin-bottom: 0;
}
.btn {
    border-radius: 0;
}
hr {
    margin: 2rem 0;
}
.bg-primary, .btn-primary {
    background-color: #00cec9!important;
}
.btn-primary {
    border: none;
}
.text-primary {
    color: #00cec9!important;
}
.form-control {
    border-radius: 0px;
}
select.form-control {
    border-radius: 0;
}
.form-control[readonly] {
    background: none;
    border: none;
}
.pagination .page-item .page-link {
    color: #00cec9;
}
.pagination .page-item.active a {
    background: #00cec9;
    border-color: #00cec9;
    color: #FFF;
}
