@font-face {
    font-family: 'Sarabun';
    src: url("/fonts/Sarabun/sarabun-bold-webfont.eot");
    src: url("/fonts/Sarabun/sarabun-bold-webfont.eot?#iefix") format("embedded-opentype"),  url("/fonts/Sarabun/sarabun-bold-webfont.woff2") format("woff2"),  url("/fonts/Sarabun/sarabun-bold-webfont.woff") format("woff"),  url("/fonts/Sarabun/sarabun-bold-webfont.ttf") format("truetype"),  url("/fonts/Sarabun/sarabun-bold-webfont.svg#sarabunbold") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Sarabun';
    src: url("/fonts/Sarabun/sarabun-bolditalic-webfont.eot");
    src: url("/fonts/Sarabun/sarabun-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),  url("/fonts/Sarabun/sarabun-bolditalic-webfont.woff2") format("woff2"),  url("/fonts/Sarabun/sarabun-bolditalic-webfont.woff") format("woff"),  url("/fonts/Sarabun/sarabun-bolditalic-webfont.ttf") format("truetype"),  url("/fonts/Sarabun/sarabun-bolditalic-webfont.svg#sarabunbold_italic") format("svg");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Sarabun';
    src: url("/fonts/Sarabun/sarabun-italic-webfont.eot");
    src: url("/fonts/Sarabun/sarabun-italic-webfont.eot?#iefix") format("embedded-opentype"),  url("/fonts/Sarabun/sarabun-italic-webfont.woff2") format("woff2"),  url("/fonts/Sarabun/sarabun-italic-webfont.woff") format("woff"),  url("/fonts/Sarabun/sarabun-italic-webfont.ttf") format("truetype"),  url("/fonts/Sarabun/sarabun-italic-webfont.svg#sarabunitalic") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Sarabun';
    src: url("/fonts/Sarabun/sarabun-regular-webfont.eot");
    src: url("/fonts/Sarabun/sarabun-regular-webfont.eot?#iefix") format("embedded-opentype"),  url("/fonts/Sarabun/sarabun-regular-webfont.woff2") format("woff2"),  url("/fonts/Sarabun/sarabun-regular-webfont.woff") format("woff"),  url("/fonts/Sarabun/sarabun-regular-webfont.ttf") format("truetype"),  url("/fonts/Sarabun/sarabun-regular-webfont.svg#sarabunregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
